<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="capstone"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_NATIVE_APP_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="MissingApplicationIcon,GoogleAppIndexingWarning"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- 앱 실행을 위한 런처 인텐트 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- 카카오 리디렉션 처리 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" android:host="oauth" />
            </intent-filter>
        </activity>

        <!-- 카카오 웹 리디렉션 처리용 액티비티 (필요 시 배송지 주소 기능 포함) -->
        <activity
            android:name="com.kakao.sdk.flutter.AppsHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 로그인 redirect 처리 -->
                <data android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" android:host="oauth" />

                <!-- 배송지 선택 시 사용 (선택사항) -->
                <data android:scheme="kakao${KAKAO_NATIVE_APP_KEY}"/>
                <data android:host="address" />
            </intent-filter>
        </activity>

        <!-- Flutter 기본 메타데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
